<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>

<body>
  <div class="frame">
    <div class="main_frame">
        <div class="left_frame">

  <div class="left_1">
              <div class="left_1-1">
                <img  src="/author/images/profile.png" width="156px" height="142px">
              </div>
              <div class="left_1-2"><%=user.name%></div>
              <div class="left_1-3"><%=user.profession%></div>
              <div class="left-icons">
                <a class="link_href" href="">
                  <div class="icon">
                   <img src="icon/Vector-1.png" class="icon-1"/>
                  </div>
                </a>
                 <a class="link_href" href="">
                  <div class="icon">
                   <img src="icon/Vector-2.png" class="icon-1"/>
                  </div>
                </a>
                 <a class="link_href" href="">
                  <div class="icon">
                   <img src="icon/Vector-3.png" class="icon-1"/>
                  </div>
                </a>
                 <a class="link_href" href="">
                  <div class="icon">
                   <img src="icon/Vector-4.png" class="icon-1"/>
                  </div>
                </a>
                 <a class="link_href" href="">
                  <div class="icon">
                   <img src="icon/Vector-5.png" class="icon-1"/>
                  </div>
                </a>
                 <a class="link_href" href="">
                  <div class="icon">
                   <img src="icon/Vector-6.png" class="icon-1"/>
                  </div>
                </a>
              </div>
            </div>
  <div class="marginer"></div>
      <div class="left_2">
              <div class="row">
                <span class="left_2-1 label">Age:</span>
                <span class="left_2-2">29</span>
              </div>
              <div class="row">
                <span class="left_2-1">Residence:</span>
                <span class="left_2-2">South Korea</span>
              </div>
              <div class="row">
                <span class="left_2-1">Freelance:</span>
                <span class="left_2-2">Available</span>
              </div>
              <div class="row">
                <span class="left_2-1">Address:</span>
                <span class="left_2-2">Xorazm Uzbekiston</span>
              </div>
            </div>

            
  <div class="marginer"></div>
      <div class="left_3">
 <div class="Languages">Languages</div>
          <div class="Languages_1">
    <div class="lang-info">
        <span>Uzbek</span>
        <span>100%</span>
    </div>
    <div class="progress-bg">
        <div class="progress-bar" style="width: 100%;"></div>
    </div>
</div>

  <div class="Languages_1">
    <div class="lang-info">
        <span>Korea</span>
        <span>90%</span>
    </div>
    <div class="progress-bg">
        <div class="progress-bar" style="width: 90%;"></div>
    </div>
 </div>

<div class="Languages_1">
    <div class="lang-info">
        <span>English</span>
        <span>40%</span>
    </div>
    <div class="progress-bg">
        <div class="progress-bar" style="width: 40%;"></div>
    </div>
  </div>
 </div>

<div class="marginer"></div>
<div class="left_4">
  <div class="skills-section">
    <div class="skills-title">Skills</div>

    <div class="skill-item">
        <div class="lang-info">
            <span>Html</span>
            <span>90%</span>
        </div>
        <div class="progress-bg">
            <div class="progress-bar" style="width: 90%;"></div>
        </div>
    </div>

    <div class="skill-item">
        <div class="lang-info">
            <span>CSS</span>
            <span>85%</span>
        </div>
        <div class="progress-bg">
            <div class="progress-bar" style="width: 85%;"></div>
        </div>
    </div>
</div>
    <div class="skill-item">
        <div class="lang-info">
            <span>Js</span>
            <span>80%</span>
        </div>
        <div class="progress-bg">
            <div class="progress-bar" style="width: 80%;"></div>
        </div>
    </div>
</div>
</div>
      

 <!-- orta mein boshlanishi  -->
         
            <div class="left_5">
              <div class="midd_frame">
    
    <section class="hero_section">
        <div class="hero_text">
            <h1>Men Avenman <br> <span>Full Stack</span> Dasturchi</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. </p>
            <button class="hire_me_btn">HIRE ME <i class="fa fa-arrow-right"></i></button>
        </div>
        <div class="hero_image">
            <img src="/author/images/Your Image 1.png" alt="Aven">
        </div>
    </section>

    <section class="services_section">
        <div class="section_title">
            <h2>Mening Xizmatlarim</h2>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        </div>

        <div class="services_grid">
            <div class="service_card">
                <i class="fa fa-code"></i>
                <h3>Web Development</h3>
                <p>Blog, E-commerce</p>
            </div>
            <div class="service_card">
                <i class="fa fa-pencil"></i>
                <h3>UI/UX Design</h3>
                <p>Mobile App, Website Design</p>
            </div>
            <div class="service_card">
                <i class="fa fa-microphone"></i>
                <h3>Sound Design</h3>
                <p>Voice Over, Beat Making</p>
            </div>
        </div>
    </section>
</div>
            </div>

<!-- chap taraf boshlanishi -->
<div class="right_frame">
    <div class="mode_toggle">
        <i class="fa fa-moon-o"></i>
    </div>
    <nav class="side_nav">
        <a href="#" class="nav_item active" title="Home"><i class="fa fa-home"></i></a>
        <a href="#" class="nav_item" title="Services"><i class="fa fa-briefcase"></i></a>
        <a href="#" class="nav_item" title="Education"><i class="fa fa-graduation-cap"></i></a>
        <a href="#" class="nav_item" title="Portfolio"><i class="fa fa-terminal"></i></a>
        <a href="#" class="nav_item" title="Contact"><i class="fa fa-comments"></i></a>
    </nav>
</div>
            </div>



    <div class="right_frame">
      <nav class="side_nav">....</nav>
     </div> 
  </div>
            <div class="marginer"></div>
        </div>
        <div class="midd_frame"></div>
        <div class="right_frame"></div>
    </div>
  </div>
</body>

</html>